body {
  margin-top: 70px;
  background: #eee;
  color: #042505;
  font-family: 'Cantarell', sans-serif;
}

.welcomeHeader {
  padding-top: 2em;
  font-size: 4em;
  text-align: center;
  color: #042505;

}

.content-area {
  padding: 15px;
}

.center {
  text-align: center;
}

.epic-about {
  text-align: center;
  margin: 35px;
}

#footer {
  text-align: center;
  margin: 35px;
  font-size: x-small;
}

.epic-about h1 {
  margin-bottom: 20px;
}
.col-dev-team {
  margin: 10px;
  padding: 15px;
  color: #042505;
  border-radius: 15px;
  text-align: center;
  width: 200px;
  /*background-color: hsl(120, 61%, 70%);*/
  display: inline-block;
}

.col-dev-team2 {
  margin: 10px;
  padding: 15px;
  color: #042505;
  border-radius: 15px;
  text-align: center;
  width: 200px;
  /*background-color: hsl(120, 61%, 60%);*/
  display: inline-block;
}

.img-flower {
  margin-bottom: 15px;
}



* {
  box-sizing: border-box;
}

.logo {
  text-align: left;
  width: 5%;
}

.loginButton {
  text-align: right;
  padding-right: 2em;
}

svg {
  width: 100%;
  height: 100%;
  bottom: 0%;
  position: absolute;
}


/* THIS WILL MAkE THE TITLE FADE IN ON FIRST PAGE */

@keyframes charFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.char1, .char2, .char3, .char4, .char5, .char6 {
  opacity: 0;
  color: #042505;
}

.char1 {
  animation: charFade 2s;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

.char2 {
  animation: charFade 2s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

.char3 {
  animation: charFade 2s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

.char4 {
  animation: charFade 2s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.char5 {
  animation: charFade 2s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}

.char6 {
  animation: charFade 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.bg-light {
  background-color: #eee !important;
}

/*PLANT INFO PAGE*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
#circle-shape-example {
  font-family: Open Sans, sans-serif;
  margin: 2rem;
}
#circle-shape-example p {
  line-height: 1.8;
}
#circle-shape-example .curve {
  width: 33%; height: auto;
  min-width: 150px;
  float: left;
  margin-right:2rem;
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();

}

#aboutPlant {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
