body {
  background: #eee;
  color: #042505;
  font-family: 'Cantarell', sans-serif;
}

.welcomeHeader {
  padding-top: 2em;
  font-size: 4em;
  text-align: center;
  color: #042505;

}

.content-area {
  padding: 15px;
}

.center {
  text-align: center;
}

.epic-about {
  text-align: center;
  margin: 35px;
}

#footer {
  text-align: center;
  margin: 35px;
  font-size: x-small;
}

.epic-about h1 h2 {
  margin-bottom: 20px;
}

.epic-about {
    margin: auto;
    width: 70%;
}

.col-dev-team {
  margin: 10px;
  padding: 15px;
  color: #042505;
  border-radius: 15px;
  text-align: center;
  width: 200px;
  /*background-color: hsl(120, 61%, 70%);*/
  display: inline-block;
}

.col-dev-team2 {
  margin: 10px;
  padding: 15px;
  color: #042505;
  border-radius: 15px;
  text-align: center;
  width: 200px;
  /*background-color: hsl(120, 61%, 60%);*/
  display: inline-block;
}

.img-flower {
  margin-bottom: 15px;
}



* {
  box-sizing: border-box;
}

.logo {
  text-align: left;
  width: 5%;
}

.loginButton {
  text-align: right;
  padding-right: 2em;
}

svg {
  width: 100%;
  height: 100%;
  bottom: 0%;
  position: absolute;
  z-index:-1;
}


/* THIS WILL MAkE THE TITLE FADE IN ON FIRST PAGE */

@keyframes charFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.char1, .char2, .char3, .char4, .char5, .char6 {
  opacity: 0;
  color: #042505;
}

.char1 {
  animation: charFade 2s;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

.char2 {
  animation: charFade 2s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

.char3 {
  animation: charFade 2s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

.char4 {
  animation: charFade 2s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.char5 {
  animation: charFade 2s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}

.char6 {
  animation: charFade 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.bg-light {
  background-color: #eee !important;
}

/*PLANT INFO PAGE*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
#circle-shape-example {
  font-family: Open Sans, sans-serif;
  margin: 2rem;
}
#circle-shape-example p {
  line-height: 1.8;
}
#circle-shape-example .curve {
  width: 33%; height: auto;
  min-width: 150px;
  float: left;
  margin-right:2rem;
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();

}

#aboutPlant {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/* LOGIN SIGN UP TABLE */

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}

.form {

  display: none;
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 400px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

.form h2 {
  text-align: center;
  color: #eee;
  font-weight: 300;
  margin: 0 0 20px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

/*Glyphicons*/

.glyphicon-red {
  color: #8b0000;
}
.glyphicon-blue {
  color: #042E7F;
}
.glyphicon-grey {
  color: hsl(0, 0%, 55%);
}

.glyphicon-yellow {
  color: hsl(60, 100%, 30%);
}

.glyphicon-green {
  color: green;
}