<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <link rel="icon" type="image/ico" href="images/favIcon.ico"/>
  <link href="https://fonts.googleapis.com/css?family=Cantarell" rel="stylesheet"/>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>PLANTLY</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/style.css" />


</head>
<body>

<!-- Nav -->
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="/user"><img src="/images/plantlyLogoBlack.png"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="about">about</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="user">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="user" id="loginButton" th:if="${session.user}" th:text="${session.user.firstname}"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="logout" th:if="${session.user}" th:text="logout"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">

    <div class="col-md-12 content-area">
      <div class="epic-about">
        <h2>Plantly my dear, I DO give a damn. </h2>
        <p>Caring for plants, both indoors and outdoors, is important in maintaining their health and appearance.
          Whether you want to keep your flowers in bloom longer or just want to save a sickly
          looking plant, don't worry! Plantly is here to help.</p>
        <p>You'll never forget to water your plants again. <img src="/images/icons/skull.png" height="80"
                                                                width="87"/></p>
      </div>
      <div class="center">
        <div class="col-dev-team">
          <img class="img-flower" src="/images/flowers/adam.png" height="250" width="125"/>
          <h3>Adam Berntsson</h3>
          <h5>Chief <br/>Plantanalyst</h5>
        </div>
        <div class="col-dev-team">
          <img class="img-flower" src="/images/flowers/niklas.png" height="250" width="125"/>
          <h3>Niklas Johansson</h3>
          <h5>Senior <br/> Developlanter</h5>
        </div>
        <div class="col-dev-team">
          <img class="img-flower" src="/images/flowers/sebbe.png" height="250" width="125"/>
          <h3>Sebastian Schelin</h3>
          <h5>Lead <br/>Planter</h5>
        </div>
        <div class="col-dev-team">
          <img class="img-flower" src="/images/flowers/micke.png" height="250" width="125"/>
          <h3>Michael Kulekci</h3>
          <h5>Senior <br/> Plant Collector</h5>
        </div>
        <div class="col-dev-team">
          <img class="img-flower" src="/images/flowers/jocke.png" height="250" width="125"/>
          <h3>Joakim Johnsson</h3>
          <h5>Front-Plant <br/> Proplanter</h5>
        </div>
        <div class="col-dev-team">
          <img class="img-flower" src="/images/flowers/farhad.png" height="250" width="125"/>
          <h3>Farkhod Kholbutayev</h3>
          <h5>Back-Plant <br/> Proplanter</h5>
        </div>
      </div>

      <p id ="footer">Copyright 2017 TEAM PLANTLY</p>

    </div>
  </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bootstrap/js/bootstrap.min.js"></script>

<script src="/js/index.js"></script>
</body>
</html>