<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Change password</title>
</head>
<body>
<form action="/passwordVerification" method="post" class="form login">
    <div class="form__field">
        <label for="oldPassword"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use></svg></label>
        <input id="inputOldPassword" type="password" name="oldPassword" class="form__input" placeholder="Old password" required="required"/>
    </div>
    <div class="form__field">
        <label for="newPassword"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use></svg></label>
        <input id="inputNewPassword" type="password" name="newPassword" class="form__input" placeholder="Password" required="required"/>
    </div>
    <div class="form__field">
        <input type="submit" value="Change"/>
    </div>
</form>
<p th:if="${info} != null" th:text="${info}"></p>

<li class="nav-item active">
    <a class="nav-link" href="user">back</a>
</li>
</body>
</html>