<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>LoginPage</title>
</head>
<body>
<h3>Welcome! Signup</h3>

<form action="/login" method="post">
    <input name="firstname" placeholder="First name" type="text"/>
    <p></p>
    <input name="lastname" placeholder="Last name"  type="text"/>
    <p></p>
    <input name="email" placeholder="email" type="email"/>
    <p></p>
    <input name="password" placeholder="Password" type="password"/>
    <input type="submit" value="Login"/>
</form>
</body>
</html>