<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" type="image/ico" href="images/favIcon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Cantarell" rel="stylesheet"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>PLANTLY</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styleuserHP.css" />
    <link rel="stylesheet" href="/css/style.css" />


</head>
<body>

<!-- Nav -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="/images/plantlyLogoBlack.png"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="chat">Chat</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--Översiktstabell över de plantor en användare har -->

<h1>My Plants</h1>
<p th:text="${session.user.firstname}"></p>


<div>
    <form action="/addplant" method="get">
        <input type="submit" class="button button-block" value="Add a plant"/>
    </form>
</div>
<table class="rwd-table">
    <tr>
        <th>Nick name</th>
        <th>Plant Species</th>
        <th>Light</th>
        <th>Water Needs</th>
        <th>Poisonous</th>
        <th>Remove</th>
    </tr>
    <tr th:each="plantInfo : ${userPlansList}">
        <td data-th="Plant" th:text="${plantInfo.nickName}"></td>
        <td data-th="Type"><a th:href="@{'/plantInfo' + ${plantInfo.plantSpecies}}" ></a></td>
        <td data-th="Light" th:text="${plantInfo.light}"></td>
        <td data-th="Water Needs" th:text="${plantInfo.waterDays}"></td>
        <td data-th="Poisonous" th:text="${plantInfo.poison}"></td>
        <td data-th="Remove">X</td>
    </tr>

</table>
</body>
</html>